<h2>Add your Celebrity! =D</h2>

<form action="/celebrities/create" method="post">
    <label for="">
        Name:
        <input type="text" name="name" placeholder="Celebrity's name...">
    </label>
    <label for="">
        Occupation:
        <input type="text" name="occupation" placeholder="Celebrity's occupation...">
    </label>
    <label for="">
        Their catch phrase:
        <input type="text" name="catchPhrase" placeholder="Add a catch phrase...">
    </label>
    <button type="submit">Add Celebrity</button>

</form>
