<h2>Add the movie you'd like!</h2>

<form action="/movies/create" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" placeholder="Movie's name..." />

  <label for="genre">Genre:</label>
  <input type="text" name="genre" placeholder="Movie's genre..." />

  <label for="plot">Plot:</label>
  <textarea
    type="text"
    name="plot"
    placeholder="Describe the plot..."
    rows="10"
    cols="50"
  ></textarea>
  <label for="cast">Cast:</label>
  <select name="cast" multiple>
    {{#each celebritiesFromDB}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>

  <button type="submit">Add Movie</button>

</form>